@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
    height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
    background: #16162a;
    border-radius: 10px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #e50914, #b20710);
    border-radius: 10px;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #f5c518, #e50914);
}
.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #e50914 #16162a;
}
